{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admixture Plot by Superpopulation</title>
</head>
<body>
    {% for plot_data in plot_data %}
    <img src="data:image/png;base64,{{ plot_data }}" alt="Admixture Plot">
    <br>
    {% endfor %}
    <a href="/admixture">Back to Superpopulation Selection</a>
</body>
</html>
{% endblock %}
