{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNP Search</title>
</head>
<body>
    <h1>Search for SNPs</h1>
    <form id="snpForm" method="POST" onsubmit="return validateForm()">
        {{ form.hidden_tag() }}
        <div>
            {{ form.id_names.label }}
            {{ form.id_names }}
        </div>
        <div>
            <label for="populations">Select populations to include:</label><br>
            {% for population in form.populations %}
                {% if loop.index <= 27 %}
                    <input type="checkbox" id="{{ population.id }}" name="populations" value="{{ population.data }}">
                    <label for="{{ population.id }}">{{ population.label }}</label><br>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
        <div style="margin-top: 10px;">
            <button type="button" onclick="window.location.href='/allele_genotype_frequency'">Back to search by</button>
        </div>
    </form>

    <script>
        function validateForm() {
            var checkboxes = document.querySelectorAll('input[name="populations"]:checked');
            var idNames = document.getElementById('id_names').value;
            if (idNames.trim() === '') {
                alert('Not all requirements have been fulfilled. Please enter an ID.');
                return false; // Prevent form submission
            }
            if (checkboxes.length === 0) {
                alert('Not all requirements have been fulfilled. Please select at least one population.');
                return false; // Prevent form submission
            }
            return true; // Allow form submission
        }
    </script>
</body>
</html>
{% endblock %}